# Basic
*/**/__pycache__
*/__pycache__

# Data
data/img/*
data/masks/*
data/dataset.csv

# Models
models/classification/*.pth
models/detection/*.pth

# Ouputs
outputs/classification/accuray_curve/*
outputs/classification/loss_curve/*


# to be intergrated
train_model_detection.py